.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;

    .menu {
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;


      >li {
        display: inline-block;
        padding: 0 16px;

        $underline_width: 0px;

        >a {
          display: block;
          font-size: 20px;
          color: #0B1F35;
          text-decoration: none;
          transition: all 150ms ease-out;

          &:hover {
            color: #EF3124;
          }
        }

        >div {
          width: 0;
          margin: auto;
          background-color: #EF3124;
          height: 2px;
          border-radius: 1rem;
          transition: all 150ms ease-out;
        }

        >a:hover ~ div{
            width: 100%
        }
      }
    }
  }
  .navbar-underline {
    width: 60%;
    height: 4px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(120, 130, 141, 0.1) 61.98%, rgba(196, 196, 196, 0) 100%);
    border-radius: 12px;
  }
}