$smallest: 400px;
$medium: 820px;
$big: 1240px;
$biggest: 1660px;

.container {
  display: block;
  padding: 32px 0;
  min-width: 320px;
  max-width: $big;
  margin: auto;

  .loader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    >* {
      position: fixed;
    }
  }

  .header-text {
    font-weight: 900;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    text-wrap: normal;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    user-select: none;

    opacity: 0.6;

    @media only screen and (max-width: $biggest) {
      font-size: 48px;
    }

    @media only screen and (max-width: $big) {
      font-size: 40px;
    }

    @media only screen and (max-width: $medium) {
      font-size: 32px;
    }
  }

  .editing-window {
    height: 100%;
    padding: 24px 24px;
    width: 480px;
    background-color: #ffffff;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
    border-radius: 16px;
    margin: 16px auto;

    .form {
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 16px;
      transition: 300ms;

      > * {
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
      }

      textarea {
        min-height: 104px;
      }

      .default-height {
        min-height: fit-content;
      }

      textarea::-webkit-scrollbar {
        cursor: default;
        width: 8px;
      }

      textarea::-webkit-scrollbar-track {
        background: transparent;
      }

      textarea::-webkit-scrollbar-thumb {
        background: rgba(120, 130, 141, 0.5);
        border-radius: 100px;
      }

      > label {
        color: #0B1F35;
        display: flex;
        flex-direction: column;

        .input {
          color: #0B1F35;
          border-radius: 4px;
          outline: 1px solid #282c34;
          border: none;
          padding: 4px 8px 4px 8px;
        }
      }

      .wide {
        grid-column: span 2;
      }

      .button-wrapper{
        display: flex;
        justify-content: space-between;

        .submit-button {
          width: 100%;
          padding: 8px 16px;
          font-weight: 600;
          font-size: 20px;
          line-height: 125%;
          text-transform: capitalize;
          color: #0B1F35;
          background: #A6FFA9;
          border-radius: 8px;
        }
      }
    }


  }

  .preview {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    padding: 16px;
    width: 360px;
    height: 428px;
    background: #FFFFFF;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
    cursor: default;

    .request {
      padding: 8px;
      width: fit-content;
      place-self: end;
      background: #5664F8;
      border-radius: 16px 16px 0 16px;
      font-weight: 300;
      font-size: 12.8px;
      line-height: 125%;
      color: #FFFFFF;
    }

    .response {
      padding: 8px;
      width: fit-content;
      background: #FFF5E7;
      font-style: normal;
      border-radius: 0 16px 16px 16px;
      color: #000000;

      >p {
        font-size: 12.8px;
        line-height: 125%;
        margin-bottom: 8px;

        &:last-child {
          margin: 0;
        }
      }
    }

    .preview-alert {
      position: absolute;
      color: rgba(40, 44, 52, 0.75);
      border-bottom: 2px solid rgba(40, 44, 52, 0.75);
      border-radius: 8px;
      bottom: 0;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translate(-50%);
      user-select: none;
    }
  }

  .dialog-edit-wrapper{
    display: flex;
    margin: auto;
    padding: 0 32px;
    gap: 32px;
    width: fit-content;

    .change-form-header {
      height: fit-content;


    }
  }
}